<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
    <title>{{title}}</title>
  </head>
  <body>
    <h1>{{title}}</h1>

    <h2>User Info</h2>

    <ul>
      <li>IP Address         : {{client_ip_address}}</li>
      <li>UserAgent          : {{user_agent}}</li>
      <li>History            : {{history}}</li>
      <li>History Summary    : {{history_summary}}</li>
      <li>Predicted Category : {{predicted_category}}</li>
    </ul>

    <h2>Links</h2>

    <ul>
      <li><a href="/page-a/">Page A</a></li>
      <li><a href="/page-b/">Page B</a></li>
      <li><a href="/page-c/">Page C</a></li>
    </ul>

    <h2>Clear Cache</h2>
    <p>
      <a href="/clear-cache/">clear cache</a>
    </p>
  </body>
</html>
